@import "tailwindcss";

@theme {
  --color-brand-dark: #0f172a;
  --color-brand-muted: #475569;
  --color-brand-primary: #f54a00;
  --color-brand-hover: #ca3500;
  --color-brand-border: #e2e8f0;
  --color-brand-light: #ebe6e7;
}

.active-tab {
  @apply border-brand-primary bg-orange-50/50 text-brand-primary ring-brand-primary;
}
.inactive-tab {
  @apply border-brand-border bg-white text-brand-muted hover:bg-slate-50;
}
.btn-tab {
  @apply rounded-lg border px-3 py-4 text-xs font-semibold cursor-pointer flex items-center gap-2;
}
.btn-primary {
  @apply rounded-lg bg-brand-primary py-2.5 font-semibold text-white shadow-sm hover:bg-brand-hover transition-all mt-2 cursor-pointer text-sm;
}
.input {
  @apply rounded-lg border bg-white px-3 py-2 text-sm text-brand-dark transition-all placeholder:text-slate-400;
}
.input {
  &:focus {
    @apply outline-none focus:ring-2;
  }
  &:disabled {
    @apply cursor-not-allowed disabled:bg-slate-50 disabled:text-slate-400;
  }
}
.error-border {
  @apply border-red-500;
}
.error-text {
  @apply text-red-700;
}
.btn-frame {
  @apply rounded-lg py-2.5 font-semibold shadow-sm cursor-pointer text-sm px-4 transition-all duration-200;
}

.btn-link {
  @apply font-semibold text-brand-primary hover:underline;
}

/* Admin layout*/
.layout-root {
  @apply flex h-screen w-full bg-gray-50 overflow-hidden;
}

.content-wrapper {
  @apply flex-1 flex flex-col h-screen overflow-y-auto relative w-full;
}

.main-content {
  @apply flex-1 p-4 md:p-8;
}

/* Sidebar */
.sidebar {
  @apply flex-col w-64 bg-white border-r border-gray-200 z-20 transition-transform duration-300 ease-in-out absolute md:relative h-full;
}

.sidebar-hidden {
  @apply -translate-x-full md:translate-x-0;
}

.sidebar-header {
  @apply flex items-center justify-between h-16 px-6 border-b border-gray-200;
}

.sidebar-nav {
  @apply flex flex-col flex-1 relative px-4 py-6 space-y-2 overflow-y-auto;
}

/* Navigation Items */
.nav-item {
  @apply flex items-center px-4 py-2 text-sm font-medium rounded-md transition-all duration-200 text-gray-600 hover:bg-brand-light;
}

.nav-item-active {
  @apply text-white ring-1 font-semibold;
}

/* Mobile Header */
.mobile-header {
  @apply md:hidden flex items-center justify-between h-16 px-4 bg-white border-b border-gray-200 shrink-0;
}
